.CV {
  min-height: 100vh;
  width: 70vw;
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
  box-shadow: 1px 2px 15px -5px rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.CV-main {
  display: grid;
  grid-template-rows: 20rem 23rem min-content;
  gap: 2rem;
}

.CV-sidebar {
  display: grid;
  grid-template-rows: 18rem minmax(18rem, min-content) min-content;
  grid-template-columns: 25rem;
  align-items: start;
  align-content: start;
  gap: 5rem;
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: inherit;
}

h3 {
  letter-spacing: 1px;
}

h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(195, 182, 182);
  margin-top: 0.5rem;
}

h4 {
  font-weight: 400;
  font-size: 1.75rem;
}

ul:not(.Duties) {
  list-style: none;
}

.form-field {
  display: grid;
  justify-items: start;
}

label {
  text-transform: uppercase;
}

input,
textarea {
  padding: 0.5rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

input:focus,
textarea:focus {
  outline: 2px solid black;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid black;
  display: grid;
  place-content: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button:hover:not(.DeleteItemBtn) {
  color: white;
  background-color: rgb(0, 0, 0);
}

.DeleteItemBtn {
  border: none;
}
