.Education {
  cursor: pointer;
  height: 100%;
}

.Education ul {
  padding-top: 2rem;
  display: grid;
  gap: 2rem;
}

.Education-form {
  display: grid;
  align-items: start;
  gap: 2rem;
  margin: 1rem 0rem;
  height: 27rem;
  overflow-y: scroll;
}

.Education-form-block {
  display: grid;
  gap: 0.5rem;
}

.Education-form-field {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  gap: 0.5rem;
  align-items: center;
}

/* .Education-form .CloseFormBtn {
  justify-self: center;
} */

.Education-form .DeleteItemBtn {
  font-size: 2rem;
  justify-self: center;
  width: 100%;
}
