.Experience {
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}

.Experience ul {
  display: grid;
}

.Experience-form {
  padding: 1rem 0rem;
  display: grid;
  gap: 3rem;
}

.Experience-form-block {
  display: grid;
  grid-template-columns: max-content min-content;
  gap: 3rem;
}

.Experience-form-field {
  display: grid;
  grid-template-columns: 10rem min-content;
  align-items: center;
  justify-items: start;
}

.Experience-form-fields {
  display: grid;
  gap: 0.5rem;
}

.Experience-form-btns {
  display: flex;
  gap: 1rem;
}

.Experience-form input {
  width: 30rem;
}

.Experience-form textarea {
  width: 30rem;
  height: 20rem;
}

.Experience-form .CloseFormBtn {
  justify-self: start;
}

.Experience-form .DeleteItemBtn {
  font-size: 2.5rem;
}
