.Nav {
  width: 70vw;
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-instructions {
  display: flex;
  gap: 2rem;
}

.Nav-instructions p {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.Nav-instructions p:first-child:after {
  content: '';
  display: block;
  background-color: black;
  height: 100%;
  width: 2px;
}
